@import url("https://fonts.googleapis.com/css2?family=Antonio&family=Spartan&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
}

html body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: #070724 url("./images/background-stars.svg");
  font-family: Spartan;
  font-size: 14px;
  color: #fff;
}

h1,
h2 {
  font-family: Antonio;
  text-transform: uppercase;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 40px;
}

h3,
h4 {
  font-family: Spartan;
  font-weight: bold;
  text-transform: uppercase;
}

h3 {
  font-size: 12px;
  line-height: 25px;
  letter-spacing: 2.6px;
}

.nav-bar {
  width: 100%;
  border-bottom: 1px solid #38384f;
}

.nav-bar .nav-content {
  max-width: 1600px;
  margin: 0 auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  padding: 1em;
}

.nav-bar .nav-content .menu-icon {
  display: none;
}

.nav-bar .nav-content .nav-title {
  margin: 0;
}

.nav-bar .nav-content .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
  font-family: Spartan;
  text-transform: uppercase;
}

.nav-bar .nav-content .nav-menu a {
  text-decoration: none;
  color: #fff;
}

.nav-bar .nav-content .nav-menu a .nav-indicator {
  display: none;
}

footer {
  width: 100%;
  border-top: 1px solid #38384f;
}

footer .footer-content {
  max-width: 1600px;
  margin: 1em auto;
  padding: 0.5em;
  width: 100%;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-content a {
  text-decoration: none;
  color: #838391;
}

footer .footer-content a:hover {
  color: #fff;
}

.planet {
  min-height: calc(100vh - 130px);
  max-width: 1600px;
  width: 95%;
  margin: 0 auto;
  margin-top: 2em;
  margin-bottom: 2em;
}

.planet .planet-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.planet .planet-data .img-container {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.planet .planet-data .img-container img {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.planet .planet-data .img-container .planet-geology {
  margin-top: -60px;
  width: 15%;
}

.planet .planet-data .planet-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
}

.planet .planet-data .planet-info .planet-overview,
.planet .planet-data .planet-info .source,
.planet .planet-data .planet-info .button {
  font-family: Spartan;
}

.planet .planet-data .planet-info .source {
  color: #838391;
}

.planet .planet-data .planet-info .source a {
  text-decoration: none;
  color: #838391;
}

.planet .planet-data .planet-info .planet-overview {
  line-height: 1.5em;
}

.planet .planet-data .planet-info .button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.planet .planet-data .planet-info .button-container .button {
  width: 100%;
  border: 1px solid #38384f;
  padding: 0.5em;
  margin: 0.5em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.planet .planet-data .planet-info .button-container .button:hover {
  background-color: #38384f;
  cursor: pointer;
}

.planet .planet-data .planet-info .button-container .button p {
  font-weight: bold;
}

.planet .button-container-mobile {
  display: none;
}

.planet-stats {
  margin-top: 3em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.planet-stats .stat-window {
  width: 23%;
  border: 1px solid #38384f;
  padding: 1em 3em 1em 1em;
}

.planet-stats .stat-window h2 {
  margin: 0;
}

.planet-stats .stat-window p {
  font-size: 12px;
  color: #838391;
}

@media screen and (max-width: 1000px) {
  .nav-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0.5em;
    margin-bottom: 1em;
  }
  .planet .planet-data {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .planet .planet-data .img-container .planet-geology {
    width: 30%;
  }
  .planet .planet-data .planet-info {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .planet .planet-data .planet-info .info-container {
    width: 50%;
  }
  .planet .planet-data .planet-info .button-container {
    width: 40%;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media screen and (max-width: 600px) {
  .nav-content {
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav-content .nav-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 800px;
    position: fixed;
    top: 85px;
    left: -100%;
    opacity: 1;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow: scroll;
  }
  .nav-content .nav-menu a {
    width: 100%;
    padding: 1em;
    border-bottom: 1px solid #38384f;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1em;
  }
  .nav-content .nav-menu a .nav-indicator {
    display: block !important;
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
  .nav-content .active {
    background: #070724;
    left: 0;
    opacity: 1;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: 1;
    overflow: hidden;
  }
  .nav-content .menu-icon {
    display: block !important;
  }
  .planet-stats {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1em;
  }
  .planet-stats .stat-window {
    width: 100%;
  }
}

@media screen and (max-width: 485px) {
  .planet {
    margin-top: 0;
  }
  .planet .planet-data {
    margin-top: 2em;
  }
  .planet .planet-data .info-container .source {
    text-align: center;
  }
  .planet .planet-data .img-container .planet-geology {
    width: 50%;
  }
  .planet .planet-data .img-container img {
    width: 100%;
  }
  .planet .planet-data .planet-info {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .planet .planet-data .planet-info .info-container {
    width: 100%;
  }
  .planet .planet-data .planet-info .info-container .planet-name,
  .planet .planet-data .planet-info .info-container .planet-overview {
    text-align: center;
  }
  .planet .button-container {
    display: none !important;
  }
  .planet .button-container-mobile {
    border-bottom: 1px solid #38384f;
    text-transform: uppercase;
    font-size: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=main.css.map */