@import url("https://fonts.googleapis.com/css2?family=Antonio&family=Spartan&display=swap");

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    //background-color: #070724;
    background: #070724 url("./images/background-stars.svg");
    font-family: Spartan;
    font-size: 14px;
    color: #fff;
  }
}
h1,
h2 {
  font-family: Antonio;
  text-transform: uppercase;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 40px;
}

h3,
h4 {
  font-family: Spartan;
  font-weight: bold;
  text-transform: uppercase;
}
h3 {
  font-size: 12px;
  line-height: 25px;
  letter-spacing: 2.6px;
}
//Navbar
.nav-bar {
  width: 100%;
  border-bottom: 1px solid #38384f;
  .nav-content {
    max-width: 1600px;
    margin: 0 auto;
    //margin-bottom: 1em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    padding: 1em;

    .menu-icon {
      display: none;
    }
    .nav-title {
      margin: 0;
    }
    .nav-menu {
      display: flex;
      align-items: center;
      gap: 1em;
      font-family: Spartan;
      text-transform: uppercase;

      a {
        text-decoration: none;
        color: #fff;
        .nav-indicator {
          display: none;
        }
      }
    }
  }
}
//Footer
footer {
  width: 100%;
  border-top: 1px solid #38384f;
  .footer-content {
    max-width: 1600px;
    margin: 1em auto;
    padding: 0.5em;
    width: 100%;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    a {
      text-decoration: none;
      color: #838391;
      &:hover {
        color: #fff;
      }
    }
  }
}

//Planet Info
.planet {
  min-height: calc(100vh - 130px);
  max-width: 1600px;
  width: 95%;
  margin: 0 auto;
  margin-top: 2em;
  margin-bottom: 2em;
  .planet-data {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .img-container {
      width: 70%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      //position: relative;
      transition: all ease 0.5s;
      img {
        transition: all ease 0.5s;
      }

      .planet-geology {
        margin-top: -60px;
        width: 15%;
      }
    }
    .planet-info {
      display: flex;
      flex-direction: column;
      width: 30%;

      .planet-overview,
      .source,
      .button {
        font-family: Spartan;
      }
      .source {
        color: #838391;
        a {
          text-decoration: none;
          color: #838391;
        }
      }

      .planet-overview {
        line-height: 1.5em;
      }

      .button-container {
        display: flex;
        flex-direction: column;
        // align-items: center;
        .button {
          width: 100%;
          border: 1px solid #38384f;
          padding: 0.5em;
          margin: 0.5em 0;
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 1em;
          transition: all 0.5s ease;
          &:hover {
            background-color: #38384f;
            cursor: pointer;
          }
          p {
            font-weight: bold;
          }
        }
      }
    }
  }
  .button-container-mobile {
    display: none;
  }
}

//Stat windows at bottom of page
.planet-stats {
  margin-top: 3em;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .stat-window {
    width: 23%;
    border: 1px solid #38384f;
    padding: 1em 3em 1em 1em;
    h2 {
      margin: 0;
    }
    p {
      font-size: 12px;
      color: #838391;
    }
  }
}

@media screen and (max-width: 1000px) {
  .nav-content {
    flex-direction: column;
    gap: 0.5em;
    margin-bottom: 1em;
  }

  .planet {
    .planet-data {
      flex-direction: column !important;

      .img-container {
        img {
          //width: 100%;
        }
        .planet-geology {
          width: 30%;
        }
      }
      .planet-info {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        .info-container {
          width: 50%;
        }
        .button-container {
          width: 40%;
          align-items: flex-end;
          justify-content: flex-end;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .nav-content {
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    .nav-menu {
      flex-direction: column;
      width: 100%;
      height: 800px;
      position: fixed;
      top: 85px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
      overflow: scroll;
      a {
        width: 100%;
        padding: 1em;
        border-bottom: 1px solid #38384f;
        display: flex;
        align-items: center;
        gap: 1em;
        .nav-indicator {
          display: block !important;
          width: 20px;
          height: 20px;
          border-radius: 50%;
        }
      }
    }
    .active {
      background: #070724;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
      overflow: hidden;
    }
    .menu-icon {
      display: block !important;
    }
  }
  .planet-stats {
    flex-direction: column;
    gap: 1em;
    .stat-window {
      width: 100%;
    }
  }
}

@media screen and (max-width: 485px) {
  .planet {
    margin-top: 0;
    .planet-data {
      margin-top: 2em;
      .info-container {
        .source {
          text-align: center;
        }
      }
      .img-container {
        .planet-geology {
          width: 50%;
        }
        img {
          width: 100%;
        }
      }
      .planet-info {
        width: 100%;
        flex-direction: column;
        .info-container {
          width: 100%;
          .planet-name,
          .planet-overview {
            text-align: center;
          }
        }
      }
    }
    .button-container {
      display: none !important;
    }
    .button-container-mobile {
      border-bottom: 1px solid #38384f;
      text-transform: uppercase;
      font-size: 14px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
}
